In [17]:
def isEven(num):
    if num%2 ==0:
        return num
l = [1,2,4,5,8,9,12,16,17,21]
l1 = list(filter(isEven,l))
print(l1)

[2, 4, 8, 12, 16]

In [15]:
l = [1,2,4,5,8,9,12,16,17,21]
l1 = list(filter(lambda x:x%2==0,l))
print(l1)

[2, 4, 8, 12, 16]

In [3]:
for x in range(2000, 3201):
    if (x%7)==0:
        y=x/5.0
        if (y%5)!=0:print(str(x), end =",")

2002,2009,2016,2023,2030,2037,2044,2051,2058,2065,2072,2079,2086,2093,2107,2114,2121,2128,2135,2142,2149,2156,2163,2170,2177,2184,2191,2198,2205,2212,2219,2226,2233,2240,2247,2254,2261,2268,2282,2289,2296,2303,2310,2317,2324,2331,2338,2345,2352,2359,2366,2373,2380,2387,2394,2401,2408,2415,2422,2429,2436,2443,2457,2464,2471,2478,2485,2492,2499,2506,2513,2520,2527,2534,2541,2548,2555,2562,2569,2576,2583,2590,2597,2604,2611,2618,2632,2639,2646,2653,2660,2667,2674,2681,2688,2695,2702,2709,2716,2723,2730,2737,2744,2751,2758,2765,2772,2779,2786,2793,2807,2814,2821,2828,2835,2842,2849,2856,2863,2870,2877,2884,2891,2898,2905,2912,2919,2926,2933,2940,2947,2954,2961,2968,2982,2989,2996,3003,3010,3017,3024,3031,3038,3045,3052,3059,3066,3073,3080,3087,3094,3101,3108,3115,3122,3129,3136,3143,3157,3164,3171,3178,3185,3192,3199,

In [43]:
list = [x for x in range(2000,3201) if x%7 ==0 and x%5!=0]
print(list)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [58]:
list=[x for x in range(200,300) if x%2==0]
print(list)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250, 252, 254, 256, 258, 260, 262, 264, 266, 268, 270, 272, 274, 276, 278, 280, 282, 284, 286, 288, 290, 292, 294, 296, 298]

In [60]:
list=[x for x in range(100,300) if x %1==0 and x%x ==0]

In [66]:
l =[2,5,7,9,10]
for x in l:
    print(x*2)

4
10
14
18
20

In [75]:
def isPrime(x):
    if(x>1):
        for i in range(2,x+1):
            if(x%i)==0:
                print(x,"is not a prime number")
           
    else:
        print(x,"is a prime number")

isPrime(13)

13 is not a prime number

In [10]:
count=0
mnp=0
while(count<3):
    print("count value: "+ str(count))
    while(mnp<2):
        print("mnp value: " + str(mnp))
        mnp=mnp+1
    count=count+1
    mnp=0
else:
    print("finished")

count value: 0
mnp value: 0
mnp value: 1
count value: 1
mnp value: 0
mnp value: 1
count value: 2
mnp value: 0
mnp value: 1
finished

In [15]:
count =4
if(count<1):
    print("not less")
elif(count>8):
    print("greater")
else:
    print("nothing")

nothing

In [18]:
# for always used for sequenrtial traversal -List, Array, Dictionary,tuple..
l=["abc","xyz","mnp"]
for x in l:
    print(x)

abc
xyz
mnp

In [33]:
# Continue is used to return the control the begining 
# break statement is used to come out of the control
s="GeeksForGeeks"
for i in s:
    if i=='k' or i=='s':
        continue
    print(i)

G
e
e
k
s
F
o
r
G
e
e
k
s

In [29]:
s="HellA"
for i in s:
    pass
print("hello")

In [50]:
#print all even numbers from 1 to 20
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [58]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print("\r")

1
12
123
1234
12345

In [72]:
def ppattern(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end="")
        print("\r")

ppattern(6)

1
12
123
1234
12345
123456

In [73]:
ppattern(7)

1
12
123
1234
12345
123456
1234567

In [3]:
list=[1,2,3,4,5,6,7,8,9,10]
list.pop()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
fname =input("enter your first name: ")
lname =input("enter your last name: ")
print("hello " + lname + " " + fname)

enter your first name: Ravindra
enter your last name: Kumar
hello Kumar Ravindra

In [15]:
pi=3.14
r = 12.0
v = 4.0/3.0*pi*r**3
print('The volume of sphere: ',v)

The volume of sphere:  7234.5599999999995

In [20]:
values = input("enter comma separated values: ")
list = values.split(",")
print('List: ',list)

enter comma separated values: 3,5,7,9,10,12
List:  ['3', '5', '7', '9', '10', '12']

In [53]:
for i in range(0,6):
    for j in range(1,i+1):
        print("* ",end ="")
    print()
    
for i in range(6,0,-1):
    for j in range(1,i-1):
        print("* ",end="")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
s = input("Enter a string: ")
print(s[::-1])

Enter a string: london
nodnol

In [51]:
for i in range(6,0,-1):
    print(i, end =" ")

6 5 4 3 2 1